body {
    font-family: Arial, sans-serif;
    width: 350px;
    padding: 10px;
}

h1 {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#output-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}
